.box {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-bottom: 5px solid #fff;
  overflow: hidden;
  box-shadow: 0, 1px, 0, rgba(0 0 0 .5);
  animation: text 2s linear forwards;
  height: 50px;
  display: block;
}

.box-col {
  display: contents;
}

.box h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
  color: #fff;
  text-shadow: 2px, 2px, 2px, rgba(0 0 0 .5);
  text-transform: uppercase;
}

@keyframes text {
  0% {
    width: 0;
    height: 0;
  } 
  70% {
    width: 70%;
    height: 0;
  }
  80% {
    width: 70%;
    height: 20px;
    text-shadow: 2px, 2px, 2px, rgba(0 0 0 .5);
  }
  100% {
    width: 70%;
    height: 70px;
    text-shadow: 2px, 2px, 2px, rgba(0 0 0 .5);
  }
} 

#btnBack {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}